{% if page %}
  {% assign url = page.url %}
  {% assign title = page.title %}
{% elsif post %}
  {% assign url = post.url %}
  {% assign title = post.title %}
{% endif %}

<div class="social-buttons">
  <a
    href="https://twitter.com/intent/tweet?text={{ title | escape }}%20{{ url | absolute_url | escape }}"
    class="twitter-button social-button"
    title="このエントリーをはてなTwitterに追加"
  >
    ツイッター
  </a>

  <a
    href="http://b.hatena.ne.jp/entry/{{ url | absolute_url | escape }}"
    class="hatena-bookmark-button social-button"
    data-hatena-bookmark-title="{{ title | escape }}"
    data-hatena-bookmark-layout="simple"
    title="このエントリーをはてなブックマークに追加"
  >
    はてな
  </a>
</div>