{% if page %}
  {% assign url = page.url %}
  {% assign title = page.title %}
  {% assign tags = page.tags %}
{% elsif post %}
  {% assign url = post.url %}
  {% assign title = post.title %}
  {% assign tags = post.tags %}
{% endif %}

<div class="social-buttons">
  <a
    href="https://twitter.com/intent/tweet?text={{ title | escape }}&url={{ url | absolute_url | escape }}&hashtags={{ tags | join: ','  }}&via={{ site.twitter_username }}"
    class="twitter-button social-button"
    title="このエントリーをはてなTwitterに追加"
  >
    ツイッター
  </a>

  <a
    href="http://b.hatena.ne.jp/entry/{{ url | absolute_url | escape }}"
    class="hatena-bookmark-button social-button"
    title="このエントリーをはてなブックマークに追加"
  >
    はてな
  </a>
</div>