---
---

$defaultTextColor: #FAFAF3;
$defaultBorderColor: #3d3d3d;
$defaultBackgroundColor: #2D2D2D;
$defaultLinkColor: #85E89D;

$activeBackgroundColor: #2C2C2C;
$subActiveBackgroundColor: #353535;

$sectionTextColor: #79B8FF;

body {
  background-color: $defaultBackgroundColor;
  color: $defaultTextColor;
}

a {
  color: $defaultLinkColor;
  &:hover,
  &:visited {
    color: $defaultLinkColor;
  }
}

pre, code {
  border: 1px solid $defaultBorderColor;
}

h1, h2, h3, h4, h5, h6 {
  color: $sectionTextColor;
}

.site-title, .site-title {
  color: $defaultTextColor;
  &:hover,
  &:visited {
    color: $defaultTextColor;
  }
}

.site-header {
  border-top: none;
  border-bottom: 1px solid $defaultBorderColor;
  background-color: $activeBackgroundColor;
}

.site-footer {
  border-top: 1px solid $defaultBorderColor;
  background-color: $activeBackgroundColor;
}

.site-nav .page-link {
  color: $defaultLinkColor;
}

.post {
  .post-header {
    .post-title {
      color: #9ECBFF;
    }
  }

  .post-content {
    p {
      word-break: break-all;
    }
  }
}