---
---

$defaultBorderColor: #3d3d3d;
$defaultBackgroundColor: #2D2D2D;

.site-nav {
  background-color: #1D1D1D;
  border: 1px solid $defaultBorderColor;
  
  .trigger {
    background-color: $defaultBackgroundColor;
  }
}