---
---

@import "./monokai.css";

body {
  overflow-y: scroll;
}

.post {
  .post-header {
    .tags {
      list-style-type: none;
      margin: 0;
      padding: 0;

      .tag {
        margin-right: 5px;
      }
    }
  }

  .embed-container {
    margin-bottom: 15px;
  }
}

.social-buttons {
  margin-top: 10px;
  margin-bottom: 10px;

  .social-button {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: small;
  }

  .twitter-button {
    color: white;
    background-color: #0091C5;
    font-weight: bold;
  }

  .hatena-bookmark-button {
    color: white;
    background-color: #0091C5;
    font-weight: bold;
  }
}