---
---

@import "./monokai.css";

body {
  overflow-y: scroll;
}

.post {
  .post-header {
    .tags {
      list-style-type: none;
      margin: 0;
      padding: 0;

      .tag {
        margin-right: 5px;
      }
    }
  }

  .post-content {
    p {
      word-break: break-word;
    }
  }

  #toc {
    @media screen and (max-width: 1360px) {
      width: unset;
      position: relative;
      right: unset;
      top: unset;
      border: unset;
      background-color: unset;
      padding: unset;
    }
    @media screen and (min-width: 1360px) {
      width: 200px;
      position: fixed;
      right: calc(50% - 660px);
      top: 100px;
      border: 1px solid #3d3d3d;
      background-color: #2C2C2C;
      padding: 20px;

      margin: 0;
      li {
        list-style-type: none;
        margin: 0;
        ul {
          margin-left: 20px;
        }
      }
    }
  }

  .embed-container {
    margin-bottom: 15px;
  }
}

.social-buttons {
  margin-top: 10px;
  margin-bottom: 10px;

  .social-button {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: small;
  }

  .twitter-button {
    color: white;
    background-color: #0091C5;
    font-weight: bold;
  }

  .hatena-bookmark-button {
    color: white;
    background-color: #0091C5;
    font-weight: bold;
  }
}