---
---

@import "./monokai.css";

body {
  overflow-y: scroll;
}

.post {
  .post-header {
    .tags {
      list-style-type: none;
      margin: 0;
      padding: 0;

      .tag {
        margin-right: 5px;
      }
    }
  }
}
